{% extends "layout/basic.html" %}


{% load bootstrap4 %}


{% block title %} Профиль пользователя {% endblock %}


{% block content %}
<h2>Профиль пользователя {{ user.username }}</h2>
{% if user.first_name and user.last_name %}
<p>Здравствуйте, {{ user.first_name }} {{ user.last_name }} </p>
{% else %}
<p>Здравствуйте! </p>
{% endif %}
<h3>Ваши заявки</h3>
<a href="{% url 'application:create' %}">{% bootstrap_button "Создать новую заявку"%}</a>
<div class="card-deck" style="margin-top: 10px">
{%for applic in applications%}
    <div class="card col-sm-4">
        <img class="card-img-top" src="{{ applic.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{applic.title}}</h5>
            <p class="card-text">{{applic.text}}</p>
            <span class="card-text">{{applic.created_at}}</span>
            <a href="{%url 'application:delete' applic.id %}">
                <button class="btn btn-danger">Удалить</button>
            </a>
        </div>
    </div>
{%endfor%}
</div>
{% endblock %}
